.card {
  border: 1px solid gray;
  box-shadow: 1px 1px 30px gray ;
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
  padding: 10px;
  margin: 20px 10px;
  width: 250px;
  justify-content: center;
}

.card h2 {
  text-align: center;
}