* {
  box-sizing: border-box;
  color: rgb(224, 224, 224);
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.848);
}

body > div {
  margin: 20px auto;
  padding: 10px;
  width: 412px;
}

h1 {
  font-family: Courier New , Courier , monospace;
  font-size: 30px;
}

header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
}

.box-shadow {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.073);
}

main {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px auto;
  overflow: hidden;
}

.btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.668);
  font-size: 18px;
  font-weight: 800;
  margin: 20px 5px;
  padding: 10px 0;
}

.btn:hover {
  background-color: rgb(80 147 121);
  color: rgb(224, 224, 224);
  transition: cubic-bezier(0.03, 0.76, 0.79, 0.04) 0.5s;
}

main > .new-pass.btn {
  padding: 20px 0;
}

.border {
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 0 10px 10px;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

.glass {

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
}


@media only screen and ( min-width : 600px ) {

  body > .application {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 884px;
    overflow: hidden;
    width: 100%;
  }

  main {
    align-items: stretch;
    width: 100%;
  }

  header > h1 {
    font-size: 45px;
  }

  .list-password.glass {
    grid-template-columns: repeat(2, 1fr);
  }

  .list-password.glass > .show-password {
    grid-column: 1 / 3;
    justify-content: space-evenly;
  }

  .container.content.row {
    margin: 10px 0;
    width: 100%;
  }

  .container.glass {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
    margin: 0 auto;
    width: 90%;
  }

  .container.glass > label {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    visibility: visible;
  }

  .container.glass > h3 {
    font-size: 35px;
    grid-column: 1 / 3;
    text-align: center;
  }

  .container.glass > .display {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .container.glass > .container.content {
    display: grid;
    gap: 10px;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr;
  }

  .container.glass > .container.content > .btn {
    padding: 20px;
  }
}
