.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  flex-direction: row;
  justify-content: space-between;
}

.content {
  max-width: 1000px;
}
